{% extends 'layout/layout.html' %}

{% block body %}
    <main class="main">
        <section class="container my-5">
            <h1 class="mb-3">{{ pagetitle }} <small>{{ description }}</small></h1>
            <ul>
{% for error in errors %}
                <li>{{ error }}</li>
{% endfor %}
            </ul>
            <div class="mt-4">
                <a href="{{ rootpath }}" class="btn btn-secondary"><i class="fas fa-fw fa-undo mr-2" aria-hidden="true"></i>トップへ戻る</a>
            </div>
        </section>
    </main>
{% endblock %}
